* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter";
}

main {
  width: 360px;
  height: 380px;
  background: #0b2434;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px 20px;
}

.title {
  margin: 0;
  font-size: 25px;
  color: #2b283a;
}

.instructions {
  padding: 0 20px;
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  color: #4a4e74;
}

.tenzies-wrapper {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.die-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 45px);
  grid-template-rows: 45px 45px;
  gap: 10px;
}

.die-wrapper div {
  font-size: 20px;
  text-align: center;
  line-height: 45px;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3.8px;
  cursor: pointer;
}

button {
  border-style: none;
  background: #5035ff;
  color: #fff;
  width: 90px;
  border-radius: 3px;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}
